<div class="row panel fields">
  <div class="large-12 columns">
    <div class="row">
      <div class="small-11 columns">
        <label>
          Наименование образовательного учреждения
          <%= f.text_field :institution, required: true %>
        </label>
    <span class="error">
      Укажите название учреждения.
    </span>
      </div>
      <div class="small-1 columns">
        <br>
        <%= link_to_remove_fields '&times'.html_safe, f %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>
          Документ об образовании, о квалификации или наличии специальных знаний
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns">
        <label>
          Наименование
          <%= f.text_field :name, required: true %>
        </label>
        <span class="error">
          Укажите название документа об образовании.
        </span>
      </div>
      <div class="medium-3 columns">
        <label>
          Серия
          <%= f.text_field :series %>
        </label>
      </div>
      <div class="medium-3 columns">
        <label>
          Номер
          <%= f.text_field :number, required: true %>
        </label>
        <span class="error">
          Укажите номер документа.
        </span>
      </div>
      <div class="medium-3 columns">
        <label>
          Год окончания
          <%= f.number_field :year_of_ending, required: true %>
        </label>
        <span class="error">
          Укажите год окончания.
        </span>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>
          Квалификация по документу об образовании
          <%= f.text_field :qualification %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>
          Направление или специальность по документу
          <%= f.select :direction_id,
                       Direction.with_old.map{ |d| [d.full_name, d.id] },
                       required: true %>
        </label>
      </div>
    </div>
  </div>
</div>
<br>
