<%= form_for @employee, data: { abide: true } do |f| %>
  <%= f.hidden_field :id %>

  <% if @employee.errors.any? %>
    <div class="alert-box alert radius">
      <p>
        <%= @employee.errors.count %>
        <%= Russian::pluralize(@employee.errors.count,
                               'ошибка', 'ошибки', 'ошибок') %>
        не позволяют сохранить данные:
      </p>

      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |builder| %>
    <%= render 'personable/fields', f: builder %>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'Сохранить сотрудника', class: 'button' %>
    </div>
  </div>
<% end %>
