<%= form_for @employee, data: { abide: true } do |f| %>
  <%= f.hidden_field :id %>

  <% if @employee.errors.any? %>
    <div class="alert-box alert radius">
      <p>
        <%= @employee.errors.count %>
        <%= Russian::pluralize(@employee.errors.count,
                               'ошибка', 'ошибки', 'ошибок') %>
        не позволяют сохранить данные:
      </p>

      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :person do |person_form| %>
    <div class="row">
      <div class="medium-4 columns">
        <label>
          Фамилия
          <%= person_form.text_field :last_name, required: true %>
        </label>
        <span class="error">Необходимо указать фамилию.</span>
      </div>
      <div class="medium-4 columns">
        <label>
          Имя
          <%= person_form.text_field :first_name, required: true %>
        </label>
        <span class="error">Необходимо указать имя.</span>
      </div>
      <div class="medium-4 columns">
        <label>
          Отчество
          <%= person_form.text_field :patronymic %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <label>
          Дата рождения
          <div class="date-select">
            <%= person_form.date_select :birthdate, start_year: (Time.zone.today.year - 100) %>
          </div>
        </label>
      </div>
      <div class="medium-4 columns">
        <label>
          Место рождения
          <%= person_form.text_field :birthplace %>
        </label>
      </div>
      <div class="medium-4 columns">
        <label>
          Пол
          <%= person_form.select :sex, [['Мужской', :male],
                                        ['Женский', :female]], {},
                                 required: true %>
        </label>
        <span class="error">Необходимо указать пол.</span>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <label>
          Гражданство
          <%= person_form.select :citizenship_id,
                       Citizenship.all.map { |c| [c.name, c.id] }, {},
                       required: true %>
        </label>
        <span class="error">Необходимо указать гражданство.</span>
      </div>
      <div class="medium-8 columns">
        <label>
          Знание иностранного языка
        </label>
        <%= person_form.fields_for :foreign_languages do |builder| %>
          <%= render 'foreign_language_fields', f: builder %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label>
          Образование
          <%= person_form.select :education_level_id,
                       EducationLevel.all.map { |el| [el.name, el.id] }, {},
                       required: true %>
        </label>
        <span class="error">Необходимо указать уровень образования.</span>
      </div>
    </div>

    <div class="row">
      <div class="large12 columns">
        <a name="education_documents"></a>
        <%= person_form.fields_for :education_documents do |builder| %>
          <%= render 'education_document_fields', f: builder %>
        <% end %>

        <%= link_to_add_fields '+ Добавить документ об образовании',
                               person_form, :education_documents %>
        <br><br>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'Сохранить сотрудника', class: 'button' %>
    </div>
  </div>
<% end %>
