<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= asset_path('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <link rel="manifest" href="<%= asset_path('manifest.json') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= asset_path('ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <title>K2</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <% if signed_in? %>
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      <% end %>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= yield :title %></h1>
      </section>

      <% if signed_in? %>
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      <% end %>
    </nav>

    <% if signed_in? %>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <% if can?(:read, Office::Order) %>
            <li><label>Общий отдел</label></li>
            <li>
              <%= link_to 'Приказы и распоряжения',
                          office_document_type_orders_path(Office::DocumentType.first) %>
            </li>
          <% end %>

          <% if can?(:manage, :all) %>
            <li><label>Отдел кадров</label></li>
            <li><%= link_to 'Подразделения', departments_path %></li>
            <li><%= link_to 'Сотрудники', employees_path %></li>
          <% end %>
        </ul>
      </aside>

      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Пользователь</label></li>
          <li><%= link_to current_user, nil %></li>
          <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
        </ul>
      </aside>
    <% end %>

    <section class="main-section">
      <div class="full-height">
        <div class="row">
          <div class="small-12 columns">
            <% if flash[:notice].present? %>
              <div data-alert class="alert-box info radius">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>

            <% if flash[:alert].present? %>
              <div data-alert class="alert-box alert radius">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>


  <%= javascript_include_tag 'application' %>
</body>
</html>
