<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= asset_path('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <link rel="manifest" href="<%= asset_path('manifest.json') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= asset_path('ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <title>K2</title>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <% if signed_in? %>
      <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <div class="full-height">
          <ul class="menu vertical">
            <% if can?(:manage, :obschiy_otdel) %>
              <li class="menu-text">
                Общий отдел
              </li>
              <% if can?(:read, Office::Order) %>
                <li>
                  <%= link_to 'Приказы',
                              office_document_type_orders_path(Office::DocumentType.for_orders.first) %>
                </li>
              <% end %>
              <% if can?(:read, Office::IncomingDocument) %>
                <li>
                  <%= link_to 'Входящие',
                              office_document_type_incoming_documents_path(Office::DocumentType.for_incoming_documents.first) %>
                </li>
              <% end %>
            <% end %>

            <% if can?(:manage, :otdel_kadrov) %>
              <li class="menu-text">
                Отдел кадров
              </li>
              <li><%= link_to 'Подразделения', departments_path %></li>
              <li><%= link_to 'Сотрудники', employees_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <div class="full-height">
          <ul class="menu vertical">
            <li class="menu-text">Пользователь</li>
            <li><%= link_to current_user, root_path %></li>
            <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
          <span class="title-bar-title">
            <%= yield :title %>
          </span>
        </div>
        <div class="title-bar-right">
          <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
        </div>
      </div>

      <div class="full-height">
        <div class="row">
          <div class="small-12 columns">
            <% if flash[:notice].present? %>
              <div class="primary callout" data-closable>
                <%= flash[:notice] %>

                <button class="close-button" data-close>
                  <span>&times;</span>
                </button>
              </div>
            <% end %>

            <% if flash[:alert].present? %>
              <div class="alert callout" data-closable>
                <%= flash[:alert] %>

                <button class="close-button" data-close>
                  <span>&times;</span>
                </button>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
